.footer {
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 1.5rem 2rem;
  margin: 0;
  margin-left: 0rem !important;
  margin-right: 0;
  display: flex;
  p {
    color: white;
  }
  .span-1 {
    text-align: left;
  }
  .span-2 {
    i {
      font-size: 14px;
      color: #FF4D4D;
      margin-top: 0px;
      transform: translateY(2px);
    }
  }
  .span-3 {
    text-align: right;
    margin: 0 auto;
    a {
      color: white;
      padding-right: 8px;
      padding-left: 4px;
      border-right: 1px solid white;
    }
    .link-team {
      border-right: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
}

@media only screen and (max-width:767px) {
  .footer {
    padding: 1.5rem 0rem;
    .span-1 {
      text-align: center;
    }
    .span-3 {
      font-size: 0.77rem;
      text-align: center;
    }
  }
}